option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: aerostats.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: main_app/static

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
