Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

commands:
  01_generate_ssl:
    command: |
      if [ ! -f /etc/pki/tls/certs/server.crt ]; then
        openssl req -x509 -nodes -days 365 -newkey rsa:2048 \
          -keyout /etc/pki/tls/certs/server.key \
          -out /etc/pki/tls/certs/server.crt \
          -subj "/CN=aerostats-env.eba-mauek9em.us-west-2.elasticbeanstalk.com"
        chmod 400 /etc/pki/tls/certs/server.key
        chmod 400 /etc/pki/tls/certs/server.crt
      fi
