{% extends 'base.html' %} {% block content %}
<map onclick="hideWatchlist(); hideMenu();">
  <div id="map" style="width: 100vw; height: 100vh; z-index: 0"></div>
</map>
<watchlist>
  <div
    id="watchlist"
    class="watchlist-hide"
    style="
      width: 90vw;
      height: 80vh;
      padding: 10vw;
      border: 1vh solid lightgray;
      border-radius: 5vh;
      position: absolute;
      top: 10vh;
      left: 10vh;
      z-index: 0;
      background-color: white;
      opacity: 0.8;
    "
  >
    <h1>Watchlist</h1>
    {%for plane in watchlist%}
    <p>{{plane.callsign}}</p>
    {%endfor%}
  </div>
</watchlist>
<nav-container>
  <div
    id="nav"
    class="nav-hide"
    style="
      border: 1vh solid lightgray;
      border-radius: 5vh;
      position: absolute;
      top: 10vh;
      right: 1vw;
      z-index: 0;
      background-color: white;
      opacity: 0.8;
    "
  >
    <ul>
      <li><a href="#!">one</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider"></li>
      <li><a href="#!">three</a></li>
    </ul>
  </div>
</nav-container>
<menu-button>
  <div
    id="menu-button"
    style="
      /*height: 3vh;*/
      border: 1vh solid lightgray;
      border-radius: 5vh;
      position: absolute;
      top: 1vh;
      right: 1vw;
      z-index: 0;
      background-color: white;
      opacity: 0.8;
    "
  >
    <a href="#" onclick="showMenu()"
      ><span style="font-size: 5vh">✈️ AeroStats [=]</span></a
    >
  </div>
</menu-button>
<script>
  // San Fransico as default map location
  let latMax = 38;
  let latMin = 37;
  let longMax = -121;
  let longMin = -123;
  // User's last viewed map location
  let newBounds;
  if (localStorage.aeroStatsBounds) {
    console.log(localStorage.aeroStatsBounds);
    newBounds = JSON.parse(localStorage.aeroStatsBounds);
    latMax = newBounds._northEast.lat;
    latMin = newBounds._southWest.lat;
    longMax = newBounds._northEast.lng;
    longMin = newBounds._southWest.lng;
  } else {
    gotoMyLocation();
  }

  var map = L.map('map', { tap: false }).fitBounds([
    [latMin, longMax],
    [latMax, longMin],
  ]);
  L.tileLayer(
    'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}',
    {
      attribution:
        'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox/streets-v11',
      tileSize: 512,
      zoomOffset: -1,
      accessToken:
        'pk.eyJ1Ijoic2R1cHJlZSIsImEiOiJja3hpNXoyNGw0dWUxMnBtdTQ5ZjI4MmZsIn0.19iQPPtrr4jFeqmOLEJ1BA',
    }
  ).addTo(map);

  // Draws marker on first load
  // updatePlaneMarkers();
  // Remove leftover shadow
  document.getElementsByClassName('leaflet-shadow-pane')[0].remove();
  map.on('moveend', async function () {
    // Remove all plane markers before updating
    document.getElementsByClassName('leaflet-marker-pane')[0].innerHTML = '';
    // call update plane marker function
    updatePlaneMarkers();
    // User's last viewed map location, stored in localStorage
    getNewbounds();
  });

  // Auto update planes
  autoUpdate();
  function autoUpdate() {
    document.getElementsByClassName('leaflet-marker-pane')[0].innerHTML = '';
    updatePlaneMarkers();
    setTimeout(function () {
      autoUpdate();
    }, 10000);
  }

  // render planes in area
  async function updatePlaneMarkers() {
    // Remove all plane markers before updating
    document.getElementsByClassName('leaflet-marker-pane')[0].innerHTML = '';
    L.Icon.Default.imagePath =
      'https://www.clipartmax.com/png/full/333-3330249_113-origami-icons-plane-icon-outline-png.png';
    let gotBounds = map.getBounds();
    await fetch(
      `https://opensky-network.org/api/states/all?lamin=${gotBounds._southWest.lat}&lomin=${gotBounds._southWest.lng}&lamax=${gotBounds._northEast.lat}&lomax=${gotBounds._northEast.lng}`
    )
      .then((res) => res.json())
      .then((data) => {
        if (data.states) {
          data.states.forEach(function (f) {
            if (f[1] && f[5] && f[6]) {
              L.marker([f[6], f[5]])
                .addTo(map)
                .bindPopup(
                  `<h5>Aircraft Details</h5><div>Place of Origin: ${f[2].toUpperCase()}</div><div>Callsign: ${f[1].toUpperCase()}</div><div>Transponder: ${f[0].toUpperCase()}</div><br><div>${
                    f[8] ? 'Aircraft Grounded' : `Airborne: ${f[7]} m `
                  }</div><div>Airspeed: ${f[9]} m/s</div><div>Bearing: ${
                    f[10]
                  }°N</div><div>${
                    f[11] < 0 ? 'Descending' : 'Ascending'
                  } at ${Math.abs(f[11])} m/s</div><div>Lat: ${f[6].toFixed(
                    2
                  )}°N Long: ${f[5].toFixed(
                    2
                  )}°W</div><br><form action="/planes/create/" method="post">
            {% csrf_token %}
            <input value="${f[1]}" type="hidden" name="callsign">
            <input type="submit" value="Add to Watchlist" class="btn">
            </form>`
                );
              // Add rotation
              document.getElementsByClassName('leaflet-marker-icon')[
                document.getElementsByClassName('leaflet-marker-icon').length -
                  1
              ].style.transform = `${
                document.getElementsByClassName('leaflet-marker-icon')[
                  document.getElementsByClassName('leaflet-marker-icon')
                    .length - 1
                ].style.transform
              } rotate(${f[10]}deg)`;
              // Add transform back to center Y axis
              document.getElementsByClassName('leaflet-marker-icon')[
                document.getElementsByClassName('leaflet-marker-icon').length -
                  1
              ].style.marginTop = `${
                parseFloat(
                  document
                    .getElementsByClassName('leaflet-marker-icon')
                    [
                      document.getElementsByClassName('leaflet-marker-icon')
                        .length - 1
                    ].style.marginTop.substring(
                      0,
                      document
                        .getElementsByClassName('leaflet-marker-icon')
                        [
                          document.getElementsByClassName('leaflet-marker-icon')
                            .length - 1
                        ].style.marginTop.indexOf('px')
                    )
                ) / 2
              }px`;
              // Add transform back to center X axis
              document.getElementsByClassName('leaflet-marker-icon')[
                document.getElementsByClassName('leaflet-marker-icon').length -
                  1
              ].style.marginLeft = `${
                parseFloat(
                  document
                    .getElementsByClassName('leaflet-marker-icon')
                    [
                      document.getElementsByClassName('leaflet-marker-icon')
                        .length - 1
                    ].style.marginTop.substring(
                      0,
                      document
                        .getElementsByClassName('leaflet-marker-icon')
                        [
                          document.getElementsByClassName('leaflet-marker-icon')
                            .length - 1
                        ].style.marginLeft.indexOf('px')
                    )
                ) / 2
              }px`;
            }
          });
        }
      });
  }

  // Test find plane example
  // findPlane('N168SU');
  // call anyplane in the world with icao24(Transponder hex string)

  // Automatic find plane and refresh
  function autoRefreshFindPlane(icao24) {
    findPlane(icao24);
    setTimeout(function () {
      autoRefreshFindPlane(icao24);
    }, 10000);
  }

  // Find plane with given icao24
  async function findPlane(icao24) {
    await fetch(
      `https://opensky-network.org/api/states/all?icao24=${icao24.toLowerCase()}`
    )
      .then((res) => res.json())
      .then((data) => {
        console.log(data);
        if (data.states) {
          let plane = data.states[0];
          map.setView([plane[6], plane[5]], 9);
          L.marker([plane[6], plane[5]])
            .addTo(map)
            .bindPopup(
              `<h5>Aircraft Details</h5><div>Place of Origin: ${plane[2].toUpperCase()}</div><div>Callsign: ${plane[1].toUpperCase()}</div><div>Transponder: ${plane[0].toUpperCase()}</div><br><div>${
                plane[8] ? 'Aircraft Grounded' : `Airborne: ${plane[7]} m `
              }</div><div>Airspeed: ${plane[9]} m/s</div><div>Bearing: ${
                plane[10]
              }°N</div><div>${
                plane[11] < 0 ? 'Descending' : 'Ascending'
              } at ${Math.abs(plane[11])} m/s</div><div>Lat: ${plane[6].toFixed(
                2
              )}°N Long: ${plane[5].toFixed(
                2
              )}°W</div><br><form action="/planes/create/" method="post">
            {% csrf_token %}
            <input value="${plane[1]}" type="hidden" name="callsign">
            <input type="submit" value="Add to Watchlist" class="btn">
            </form>`
            )
            .openPopup();
        } else {
          console.log(`${icao24} Not Active`);
        }
      });
  }

  async function gotoMyLocation() {
    navigator.geolocation.getCurrentPosition((position) => {
      map.setView([position.coords.latitude, position.coords.longitude], 9);
    });
  }
  // User's last viewed map location
  function getNewbounds() {
    localStorage.aeroStatsBounds = JSON.stringify(map.getBounds());
  }

  function showWatchlist() {
    document.getElementById('watchlist').classList.remove('watchlist-hide');
    document.getElementById('watchlist').classList.add('watchlist-unhide');
  }
  function hideWatchlist() {
    if (
      document
        .getElementById('watchlist')
        .classList.contains('watchlist-unhide')
    ) {
      document.getElementById('watchlist').classList.remove('watchlist-unhide');
      document.getElementById('watchlist').classList.add('watchlist-show');
    } else {
      document.getElementById('watchlist').classList.remove('watchlist-show');
      document.getElementById('watchlist').classList.add('watchlist-hide');
    }
  }
  function showMenu() {
    document.getElementById('nav').classList.remove('nav-hide');
    document.getElementById('nav').classList.add('nav-show');
  }
  function hideMenu() {
    document.getElementById('nav').classList.remove('nav-show');
    document.getElementById('nav').classList.add('nav-hide');
  }
</script>

{% endblock %}
