{% extends 'base.html' %} {% block content %}
<!-- Map container -->
<map onclick="hideWatchlist(); hideMenu(); hideLogin(); hideSignup(); menuUnclickedColor();">
  <div id="map" class="map-style"></div>
</map>
<!-- Menu Button -->
<nav-container>
  <div id="nav" class="nav-hide nav-container">
    <ul class="nav-content">
      <li><a href="#" class="btn nav-button" onclick="changeTheme()">Change Theme</a></li>
      <li><a href="#" class="btn nav-button" onclick="gotoMyLocation(); hideMenu(); hideWatchlist(); menuUnclickedColor()">My Location</a></li>
      {% if user.is_authenticated %}
        <li><a href="#" class="btn nav-button" onclick="showWatchlist(); hideMenu(); hideWatchlist(); menuUnclickedColor()">Watchlist</a></li>
        <li><a class="btn nav-button" href="/accounts/logout/?next=/">Logout</a></li>
      {% else %}
        <li><a href="#" class="btn nav-button" onclick="showLogin(); hideMenu(); hideSignup(); menuUnclickedColor()">Log In</a></li>
        <li><a href="#" class="btn nav-button" onclick="showSignup(); hideMenu(); hideLogin(); menuUnclickedColor()">Sign Up</a></li>
      {% endif %}
  </div>
</nav-container>
<!-- Nav Buttons container -->
<menu-button>
  <div id="menu-button" class="menu-style">
    <a href="#" onclick="toggleMenu(); toggleMenuColor(); map.closePopup()">
      <span id="menu_button" class="btn-small menu-button">MENU</span>
    </a>
  </div>
</menu-button>
<!-- Login window -->
<login>
  <div id="login" class="login-style login-hide">
    <h1>login</h1>
    <form action="/accounts/login/" method="POST">
      {% csrf_token %}
      {{ login_form.as_p }}
      <input type="submit" class="btn" value="Login">
      <input type="hidden" name="next" value="/">
    </form>
  </div>
</login>
<!-- Signup window -->
<signup>
  <div id="signup" class="login-style signup-hide">
    <h1>Sign Up</h1>
    <form action="/accounts/signup/" method="POST">
      {% csrf_token %}
      {{ signup_form.as_p }}
      <input type="submit" class="btn" value="Sign Up">
      <input type="hidden" name="next" value="/">
    </form>
  </div>
</signup>
<!-- Watchlist -->
<watchlist>
  <div id="watchlist" class="watchlist-hide watchlist-style">
    <button onclick="hideWatchlist(); menuUnclickedColor()" class='btn close-watchlist-button'>X</button>
    <h3>Aircraft Watchlist</h3>
    <table>
      <thead>
        <tr>
          <th>Transponder</th>
          <th>Origin</th>
          <th>Velocity</th>
          <th>Altitude</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for plane_detail in watchlist_populated%}
          <tr>
            {%if plane_detail.callsign != 'n/a'%}
              <td>{{plane_detail.icao24|upper}}</td>
              <td>{{plane_detail.origin_country}}</td>
              <td>{{plane_detail.velocity}} m/s</td>
              {%if plane_detail.altitude %}
                <td>{{plane_detail.altitude}} m</td>
              {%else%}
                <td>Grounded</td>
              {%endif%}
            {%else%}
              <td>{{plane_detail.icao24|upper}}</td>
              <td>n/a</td>
              <td>n/a</td>
              <td>n/a</td>
            {%endif%}
            {%if plane_detail.callsign != 'n/a'%}
              <td><a class="btn-small" href = "#" onclick="hideWatchlist(); findPlane('{{plane_detail.icao24}}')">Locate</a></td>
            {% else %}
              <td><a class="btn-small" disabled href = "#" onclick="hideWatchlist(); findPlane('{{plane_detail.icao24}}')">Offline</a></td>
            {% endif%}
            {%for plane in watchlist%}
              {% if plane_detail.icao24 == plane.icao24 %}
                <td>
                  <form action="planes/{{plane.id}}/delete/" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="X" class="btn-small red" onclick="localStorage.openWatchlist=true;" ></input>
                  </form>
                </td>
              {%endif%}
            {%endfor%}
          </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</watchlist>

<script>


  // San Fransico as default map location
  let latMax = 38;
  let latMin = 37;
  let longMax = -121;
  let longMin = -123;
  // User's last viewed map location
  let newBounds;
  if (localStorage.aeroStatsBounds) {
    newBounds = JSON.parse(localStorage.aeroStatsBounds);
    latMax = newBounds._northEast.lat;
    latMin = newBounds._southWest.lat;
    longMax = newBounds._northEast.lng;
    longMin = newBounds._southWest.lng;
  } else {
    gotoMyLocation();
  }
  // Define Map
  var map = L.map('map', { tap: false }).fitBounds([
    [latMin, longMax],
    [latMax, longMin],
  ]);

  // map color
  let mapTheme;
   if (localStorage.theme) {
    mapTheme = localStorage.theme
   } else {
    mapTheme = 'mapbox/outdoors-v11'
    localStorage.theme = 'mapbox/outdoors-v11'
   }

  map.setMaxBounds([[-65,180],[90,-180]]);
  L.tileLayer(
    'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}',
    {
      attribution:
        'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: mapTheme,
      tileSize: 512,
      zoomOffset: -1,
      accessToken:
        'pk.eyJ1Ijoic2R1cHJlZSIsImEiOiJja3hpNXoyNGw0dWUxMnBtdTQ5ZjI4MmZsIn0.19iQPPtrr4jFeqmOLEJ1BA',
    }
  ).addTo(map);
  // Initialize plane markers + updates
  autoUpdate();
  // Remove leftover shadow layer upon map creation
  document.getElementsByClassName('leaflet-shadow-pane')[0].remove();

  map.on('moveend', async function () {
    // call update plane marker function
    updatePlaneMarkers();
    // User's last viewed map location, stored in localStorage
    getNewbounds();
  });

  // Auto update planes
  function autoUpdate() {
    document.getElementsByClassName('leaflet-marker-pane')[0].innerHTML = '';
    updatePlaneMarkers();
    setTimeout(function () {
      autoUpdate();
    }, 10000);
  }

  var planeMarker = L.icon({
    iconUrl: 'static/images/orange_plane.png',
    iconSize: [20, 20], // size of the icon
    shadowSize: [0, 0], // size of the shadow
    iconAnchor: [0, 0], // point of the icon which will correspond to marker's location
    shadowAnchor: [0, 0], // the same for the shadow
    popupAnchor: [-10, -30], // point from which the popup should open relative to the iconAnchor
  });
  // render planes in area
  async function updatePlaneMarkers() {
    // Remove all plane markers before updating
    document.getElementsByClassName('leaflet-marker-pane')[0].innerHTML = '';
    let gotBounds = map.getBounds();
    await fetch(
      `https://opensky-network.org/api/states/all?lamin=${gotBounds._southWest.lat}&lomin=${gotBounds._southWest.lng}&lamax=${gotBounds._northEast.lat}&lomax=${gotBounds._northEast.lng}`
    )
      .then((res) => res.json())
      .then((data) => {
        if (data.states) {
          data.states.forEach(function (f) {
            /* Isolate comments based on icao24. */
            
            // Same as updatePlaneMarkers() ----> 
            let comments_js = [];
            let i = 0;
            {% for comment in comments %}
              if(! ('{{comment.plane}}' in comments_js)) comments_js['{{comment.plane}}'] = [];
              comments_js['{{comment.plane}}'].push({'content': '{{comment.content}}',
                  'date': '{{comment.date}}',
                  'id': '{{comment.id}}',
                  'user': '{{comment.user_id}}'
              });
              i++;
            {% endfor %}
            watchlist = [];
            {% for plane in watchlist %}
              watchlist.push('{{plane.icao24}}');
            {% endfor %}
            if (f[1] && f[5] && f[6]) {
              popupText = `
                <h5>Aircraft Details</h5>
                <div>Place of Origin: ${f[2].toUpperCase()}</div>
                <div>Callsign: ${f[1].toUpperCase()}</div>
                <div>Transponder: ${f[0].toUpperCase()}</div>
                <br>
                <div>${
                    f[8] ? 'Aircraft Grounded' : `Airborne: ${f[7]} m `
                }</div>
                <div>Airspeed: ${f[9]} m/s</div>
                <div>Bearing: ${
                    f[10]
                }°N</div>
                <div>${f[11] < 0 ? 'Descending' : 'Ascending'} at ${Math.abs(f[11])} m/s</div>
                <div>Lat: ${f[6].toFixed(2)}°N Long: ${f[5].toFixed(2)}°W</div>
              
              <h5 onclick="toggleComments()" class="btn-small" id="commentButton">More</h5>

                <hr>
                <div id="passengers">
                  <h5>Passengers</h5>
                {% if passengers %}
                  <ul>
                    {% for passenger in passengers %}
                      <li>{{ passenger.name }}</li>
                    {% endfor %}
                  </ul>
                {% else %}
                  No passengers on this plane.
                {% endif %}
                </div>
              `;
              if( watchlist.includes(f[0])) {         
                popupText += `
                <div id="passengers2">
                  <form action="/passengers/create/" method="post">
                    {% csrf_token %}
                    <input type="text" name="name" maxlength="50" required id="id_name" placeholder="Passenger name...">
                    <input value="${f[0]}" type="hidden" name="icao24">
                    <input type="submit" value="Create Passenger" onclick="localStorage.openPopupIcao24='${f[0]}'"  class="btn-small">
                  </form>
                </div>
                `;
              }
              
              if(comments_js[f[0]] && comments_js[f[0]].length > 0) {
                popupText += '<div id="comments"><h5>Comments</h5><ul>';
                for(comment of comments_js[f[0]]) {

                  {%if user.is_authenticated%}
                    popupText += `<li ><span onclick="editComment(${comment.id}, ${comment.user}); localStorage.openPopupIcao24='${f[0]}'" id="commentContent${comment.id}">${comment.content}</span></li>`;
                  {% else %}
                    popupText += `<li>${ comment.content }</li>`
                  {% endif %}
                }
                popupText += '</ul><div>'
              } else {
                popupText += `<div id="comments"><h5>Comments</h5>No comments on this plane.<br></div>`
              }
              if(! watchlist.includes(f[0])) {
                popupText += `
                {% if user.is_authenticated %}
                <div id="comments2">
                  <br>
                <form action="/planes/create/" method="post">
                  {% csrf_token %}
                  <input value="${f[0]}" type="hidden" name="icao24">
                  <input type="submit" onclick="localStorage.openPopupIcao24='${f[0]}'" value="Add to Watchlist" class="btn-small">
                </form></div>
                {% endif %}
                `;
              } else {
                popupText += `
                <div id="comments2">
                  <form action="/comments/create/" method="post">
                    {% csrf_token %}
                    <input type="text" name="content" maxlength="50" required id="id_name" placeholder="Comment content...">
                    <input value="${f[0]}" type="hidden" name="icao24">
                    <input type="submit" value="Create Comment" onclick="localStorage.openPopupIcao24='${f[0]}'" class="btn-small">
                  </form>
                </div>
                `;
              }
          // Same as updatePlaneMarkers() ---->
              L.marker([f[6], f[5]], { icon: planeMarker })
                .addTo(map)
                .bindPopup(popupText);
              // Add rotation
              document.getElementsByClassName('leaflet-marker-icon')[
                document.getElementsByClassName('leaflet-marker-icon').length -
                  1
              ].style.transform = `${
                document.getElementsByClassName('leaflet-marker-icon')[
                  document.getElementsByClassName('leaflet-marker-icon')
                    .length - 1
                ].style.transform
              } rotate(${f[10]}deg)`;

            }
          });
        }
      });
  }

  // Test find plane example
  // findPlane('N168SU');
  // call anyplane in the world with icao24(Transponder hex string)

  // Automatic find plane and refresh
  function autoRefreshFindPlane(icao24) {
    findPlane(icao24);
    setTimeout(function () {
      autoRefreshFindPlane(icao24);
    }, 10000);
  }
  

  // Find plane with given icao24
  async function findPlane(icao24) {
    document.getElementsByClassName('leaflet-marker-pane')[0].innerHTML = '';
    await fetch(
      `https://opensky-network.org/api/states/all?icao24=${icao24.toLowerCase()}`
    )
      .then((res) => res.json())
      .then((data) => {
        if (data.states) {
          
          let f = data.states[0];
            // Same as updatePlaneMarkers() ----> 
            let comments_js = [];
            let i = 0;
            {% for comment in comments %}
              if(! ('{{comment.plane}}' in comments_js)) comments_js['{{comment.plane}}'] = [];
              comments_js['{{comment.plane}}'].push({'content': '{{comment.content}}',
                  'date': '{{comment.date}}',
                  'id': '{{comment.id}}',
                  'user': '{{comment.user_id}}'
              });
              i++;
            {% endfor %}
            watchlist = [];
            {% for plane in watchlist %}
              watchlist.push('{{plane.icao24}}');
            {% endfor %}
            if (f[1] && f[5] && f[6]) {
              popupText = `
                <h5>Aircraft Details</h5>
                <div>Place of Origin: ${f[2].toUpperCase()}</div>
                <div>Callsign: ${f[1].toUpperCase()}</div>
                <div>Transponder: ${f[0].toUpperCase()}</div>
                <br>
                <div>${
                    f[8] ? 'Aircraft Grounded' : `Airborne: ${f[7]} m `
                }</div>
                <div>Airspeed: ${f[9]} m/s</div>
                <div>Bearing: ${
                    f[10]
                }°N</div>
                <div>${f[11] < 0 ? 'Descending' : 'Ascending'} at ${Math.abs(f[11])} m/s</div>
                <div>Lat: ${f[6].toFixed(2)}°N Long: ${f[5].toFixed(2)}°W</div>
              
              <h5 onclick="toggleComments()" class="btn-small" id="commentButton">More</h5>

                <hr>
                <div id="passengers">
                  <h5>Passengers</h5>
                {% if passengers %}
                  <ul>
                    {% for passenger in passengers %}
                      <li>{{ passenger.name }}</li>
                    {% endfor %}
                  </ul>
                {% else %}
                  No passengers on this plane.
                {% endif %}
                </div>
              `;
              if( watchlist.includes(f[0])) {         
                popupText += `
                <div id="passengers2">
                  <form action="/passengers/create/" method="post">
                    {% csrf_token %}
                    <input type="text" name="name" maxlength="50" required id="id_name" placeholder="Passenger name...">
                    <input value="${f[0]}" type="hidden" name="icao24">
                    <input type="submit" value="Create Passenger" onclick="localStorage.openPopupIcao24='${f[0]}'"  class="btn-small">
                  </form>
                </div>
                `;
              }
              
              if(comments_js[f[0]] && comments_js[f[0]].length > 0) {
                popupText += '<div id="comments"><h5>Comments</h5><ul>';
                for(comment of comments_js[f[0]]) {

                  {%if user.is_authenticated%}
                    popupText += `<li ><span onclick="editComment(${comment.id}, ${comment.user}); localStorage.openPopupIcao24='${f[0]}'" id="commentContent${comment.id}">${comment.content}</span></li>`;
                  {% else %}
                    popupText += `<li>${ comment.content }</li>`
                  {% endif %}
                }
                popupText += '</ul><div>'
              } else {
                popupText += `<div id="comments"><h5>Comments</h5>No comments on this plane.<br></div>`
              }
              if(! watchlist.includes(f[0])) {
                popupText += `
                {% if user.is_authenticated %}
                <div id="comments2">
                  <br>
                <form action="/planes/create/" method="post">
                  {% csrf_token %}
                  <input value="${f[0]}" type="hidden" name="icao24">
                  <input type="submit" onclick="localStorage.openPopupIcao24='${f[0]}'" value="Add to Watchlist" class="btn-small">
                </form></div>
                {% endif %}
                `;
              } else {
                popupText += `
                <div id="comments2">
                  <form action="/comments/create/" method="post">
                    {% csrf_token %}
                    <input type="text" name="content" maxlength="50" required id="id_name" placeholder="Comment content...">
                    <input value="${f[0]}" type="hidden" name="icao24">
                    <input type="submit" value="Create Comment" onclick="localStorage.openPopupIcao24='${f[0]}'" class="btn-small">
                  </form>
                </div>
                `;
              }
          // Same as updatePlaneMarkers() ---->
          map.setView([f[6], f[5]], 9);
          L.marker([f[6], f[5]])
            .addTo(map)
            .bindPopup(popupText)
            .openPopup();

          }
        }
      });
    updatePlaneMarkers();
  }

  async function gotoMyLocation() {
    navigator.geolocation.getCurrentPosition((position) => {
      map.setView([position.coords.latitude, position.coords.longitude], 9);
    });
  }
  // User's last viewed map location
  function getNewbounds() {
    localStorage.aeroStatsBounds = JSON.stringify(map.getBounds());
  }
  openWatchlistOnReload()
  function openWatchlistOnReload(){
    if (localStorage.openWatchlist) {
      showWatchlist(); hideMenu(); hideWatchlist()
      delete localStorage.openWatchlist
    }
  }
  openPopupOnReload()
  function openPopupOnReload(){
    if (localStorage.openPopupIcao24) {
      findPlane(localStorage.openPopupIcao24)
      delete localStorage.openPopupIcao24
    }
  }
  function showWatchlist() {
    document.getElementById('watchlist').classList.remove('watchlist-hide');
    document.getElementById('watchlist').classList.add('watchlist-unhide');
    map.closePopup()
  }
  function hideWatchlist() {
    if (
      document
        .getElementById('watchlist')
        .classList.contains('watchlist-unhide')
    ) {
      document.getElementById('watchlist').classList.remove('watchlist-unhide');
      document.getElementById('watchlist').classList.add('watchlist-show');
    } else {
      document.getElementById('watchlist').classList.remove('watchlist-show');
      document.getElementById('watchlist').classList.add('watchlist-hide');
    }
  }
  function toggleMenu() {
    if (document.getElementById('nav').classList.contains('nav-hide')){
    document.getElementById('nav').classList.remove('nav-hide');
    document.getElementById('nav').classList.add('nav-show');
    document.getElementById('watchlist').classList.remove('watchlist-show');
    document.getElementById('watchlist').classList.add('watchlist-hide');
    } else {
      document.getElementById('nav').classList.remove('nav-show');
      document.getElementById('nav').classList.add('nav-hide');
    }
  }

  let menuClicked = false
  function toggleMenuColor(){
    if (!menuClicked) {
      document.getElementById('menu_button').style.backgroundColor = '#7b7b7b'
    } else {
      document.getElementById('menu_button').style.backgroundColor = '#26a69a'
    }
    menuClicked = !menuClicked
  }

  function menuClickedColor(){
    document.getElementById('menu_button').style.backgroundColor = '#7b7b7b'
      menuClicked = true
  }
  function menuUnclickedColor(){
      document.getElementById('menu_button').style.backgroundColor = '#26a69a'
      menuClicked = false
  }

  function changeTheme(){
    if (localStorage.theme == 'mapbox/outdoors-v11'){
      localStorage.theme = 'mapbox/navigation-night-v1'
    } else if (localStorage.theme == 'mapbox/navigation-night-v1'){
      localStorage.theme = 'mapbox/dark-v10'
    } else if (localStorage.theme == 'mapbox/dark-v10'){
      localStorage.theme = 'mapbox/satellite-v9'
    } else {
      localStorage.theme = 'mapbox/outdoors-v11'
    }
    window.location.href = '/'
  }

  function hideMenu() {
    document.getElementById('nav').classList.remove('nav-show');
    document.getElementById('nav').classList.add('nav-hide');
  }
  function showLogin() {
    document.getElementById('login').classList.remove('login-hide');
    document.getElementById('login').classList.add('login-show');
    document.getElementById('watchlist').classList.remove('watchlist-show');
    document.getElementById('watchlist').classList.add('watchlist-hide');
    map.closePopup()
  }
  function hideLogin() {
    document.getElementById('login').classList.remove('login-show');
    document.getElementById('login').classList.add('login-hide');
  }
  function showSignup() {
    document.getElementById('signup').classList.remove('signup-hide');
    document.getElementById('signup').classList.add('signup-show');
    document.getElementById('watchlist').classList.remove('watchlist-show');
    document.getElementById('watchlist').classList.add('watchlist-hide');
    map.closePopup()
  }
  function hideSignup() {
    document.getElementById('signup').classList.remove('signup-show');
    document.getElementById('signup').classList.add('signup-hide');
  }
  function editComment(comment_id, comment_user_id) {
    if ('{{ user.id}}' == comment_user_id){
    comment_content = document.getElementById('commentContent' + comment_id).textContent;
    document.getElementById('commentContent' + comment_id).onclick=null;
    document.getElementById('commentContent' + comment_id).innerHTML=`<form method="POST" action="/comments/${comment_id}/update/">{% csrf_token %}<input type="text" name="content" value="${comment_content}"><input type="submit" class="btn-small red" value="Update"></form>`
   }
  }



  
  function toggleComments(){
    if (document.getElementById('passengers').style.display == 'block'){
      document.getElementById('comments').style.display = 'none'
    document.getElementById('comments2').style.display = 'none'
    document.getElementById('passengers').style.display = 'none'
    document.getElementById('commentButton').style.backgroundColor = "#26a69a"
    document.getElementById('commentButton').innerHTML = 'More'
    document.getElementById('passengers2').style.display = 'none'


    } else {
      document.getElementById('comments').style.display = 'block'
      document.getElementById('comments2').style.display = 'block'
      document.getElementById('passengers').style.display = 'block'
      document.getElementById('commentButton').style.backgroundColor = 'grey'
      document.getElementById('commentButton').innerHTML = 'Less'

    document.getElementById('passengers2').style.display = 'block'

    }


  }


</script>

{% endblock %}


