a {
  text-decoration: none;
  /* color: white; */
}

.leaflet-interactive {
  transform: rotate(90deg);
}

.watchlist-show {
  display: block;
}

.watchlist-hide {
  display: none;
  z-index: 0;
}

.watchlist-style {
  width: 80vw;
  height: 80vh;
  padding: 10vw;
  border-radius: 20px;
  position: absolute;
  margin: auto;
  top: 10vh;
  left: 10vh;
  z-index: 0;
  background-color: white;
  opacity: 0.8;
}

.map-style {
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.watchlist-unhide {
  display: none;
}

.login-style {
  width: 90vw;
  height: 80vh;
  padding: 10vw;
  /* border: 1vh solid lightgray; */
  /* border-radius: 5vh; */
  position: absolute;
  top: 10vh;
  left: 10vh;
  z-index: 0;
  background-color: white;
  opacity: 0.8;
}

.login-show {
  display: block;
}

.login-hide {
  display: none;
}

.nav-container {
  /* border: 1px solid lightgray; */
  /* border-radius: 5vh; */

  position: absolute;
  padding: 10px;
  top: 5vh;
  right: 1vw;
  z-index: 0;
  color: white;
  background-color: grey;
  opacity: 0.8;
}

.nav-show {
  display: block;
}

.nav-hide {
  display: none;
}

.nav-unhide {
  display: none;
}

.menu-style {
  /* border: 1vh solid lightgray; */
  /* border-radius: 5vh; */

  position: absolute;
  top: 1vh;
  right: 1vw;
  z-index: 0;
  background-color: white;
  opacity: 0.8;
}

.nav-content {
  margin: auto;
}

.nav-button {
  color: white;
  font-size: 16px;
  padding: 10px;
}

.menu-button {
  font-size: 18px;
}
